.main-div{
    background-color: rgb(168, 115, 115);
    height: 50px;
    
}

.div2, NavLink{
    color:white;
    text-align: right;
    font-size: 25px;
    margin-left: 500px;
   

}

.item{
  padding:10px 10px;
   margin:8px; 
   text-decoration: none;
   
}
.itemZero{
    height: 700px;
    width: 100%;
}

