/* .myText{
    background-color: purple;
    color:white;
    font-size: 30px;
    text-align: center;
    padding:20px;
}
.card{
    background-color: pink;
    text-align: center;
    box-shadow: 2px 3px 4px green;
    margin:10px;
    padding:10px;
    
}


.cardTitle{
    text-decoration: underline;
    font-family: sans-serif;
    font-style: italic;
}
.cardDemo{
    width: 100px;
    overflow: scroll;
}
 */


 
.demo{
    color:rgb(152, 196, 70);
    border-bottom: 2px solid yellow;
}
